/*Insetamos fuentes de google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*---------CSS Variables----------*/
:root {
    --header-height: 3.5rem;
    /*Altura del header rem etiqueta de medida */
    /*-------COLORES---------*/
    --primary-color: #4a4a4a;
    /*Color principal*/
    --primary-color-alt: #575757;
    /*Color alternativo*/
    --linear-gradient: linear-gradient(54deg, rgba(96, 96, 96, 0.7)34%,
            rgba(96, 96, 96, 0.70));
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --border-color: #e9ecef;
    --border-color: #f1f1f1;

    /*--------------FUENTE Y TIPOGRAFIA--------*/
    --roboto-font: 'Roboto', san-serif;
    --mono-font: 'Roboto Mono', monospace;
    --fs-h1: 2.75rem;
    /* multiplica con la medida padre*/
    --fs-h2: 1.25rem;
    --fs-lg: 1.125rem;
    /*Tamaño de fuente grande*/
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    /*---------Font weight---*/
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --black: 900;

}

/*----------CSS Base---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* incluye el padding y el border en el calculo del ancho de los elementos
    box model
    */
}

html {
    scroll-behavior: smooth;

}

body, button, input, textarea {
    font-family: var(--roboto-font);
    /*tipo de letra para todo el documento
    excepto h1,h2,h3,h4,h5,h6
    */
    font-size: var(--fs-base);
    /* Medida base de fuente para todo el documento
    excepto h1,h2,h3,h4,h5,h6*/

}

body {
    background-color: var(--bg-color);
    /* var(--bg-color) #fff color de fondo para todo el documento
    excepto header y footer*/
    color: var(--text-color);
    /* Color de texto para todo el documento
    excepto header y footer*/

    line-height: 1.5rem;

}

h1, h2, h3 {
    font-family: var(--mono-font);
    font-weight: var(--bold);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /*sin linea en los enlaces*/
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    /* maximo ancho de las imagenes*/
    height: auto;
    /* altura automatica*/

}

textarea {
    background: none;
    /* sin fondo*/
    border: none;
    /* sin borde*/
    outline: none;
    /* sin contorno*/
}

/*-------ESTILOS REUSABLES--------*/

.container {
    /*background: red;*/
    max-width: 1140px;
    /* ancho maximo del contenedor*/
    margin: 0 auto;
    /* 0 es arriba abajo. auto es paracentrar el contenedor*/
    padding-left: 0.9rem;
    /* padding-left: 0.9rem; */
    padding-right: 0.9rem;
    /* padding-right: 0.9rem; */

}

.grid {
    display: grid;

}

.section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.section__title {
    font-size: var(--fs-h2);
    line-height: 1.17em;
    font-weight: var(--medium);
    margin-bottom: 1.12em;
}

.text-lg {
    font-size: var(--fs-lg);
    line-height: 1.4em;
}
.text-sm {
    font-size: var(--fs-sm);
    line-height: 1.43em;
}

.text-xs {  /* Texto extra pequeño */
    font-size: var(--fs-xs);
    line-height: 1.5em;
}

.skills__title, .resume__title { /* Titulo de habilidades y resumen */
    color: var(--text-color-alt);
    letter-spacing: 0.4em;
    margin-bottom: 2.8em;
}

/*-----------HEADER-------------*/

.header {
    position: absolute;
    /* Se puede mover */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* se sobreponga a otros elementos*/
}

.nav {
    /*background-color: red;*/
    height: calc(var(--header-height) + 0.875rem);
    display: flex;
    align-items: flex-end;

}

.nav__list {
    display: flex;
    /* Alinea los elementos en fila*/
    column-gap: 3.25rem;
}

.nav__links {
    color: #000000;
    font-size: 0.9rem;
    font-weight: var(--bold);
    /* Grosor de fuente*/
    font-family: var((--mono-font));
    text-transform: uppercase;
    /* Mayusculas*/
    position: relative;
    transition: 0.3s;
}

.nav__links:hover {
    /* Cuando se pasa el mouse por encima*/
    opacity: 0.5;
}

.nav__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    width: 7px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s;
}
.nav__links:hover::after {
    opacity: 1;
}
.nav__close, .nav__toggle {
    display: none;
}

/*-----------Active Link-------------*/
.active-link {
    opacity: 0.3;
}
.active link::after {
    opacity: 1;
}

/*-----------Mome-------------*/
.home {
    background: url(../img/santn.jpeg) no-repeat center;
    /* Imagen de fondo*/
    background-size: cover;
    padding-top: 5.5rem;
    margin-bottom: 2.5rem;
    position: relative; 
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
}

.home__container {
   grid-template-columns: 4fr 8fr;
   column-gap: 1.875rem;
}
.home__img, .home__data {
    z-index: 10;
}
.home__img {
    width: 95%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.3rem;
    transform: translateY(3.125rem);
    box-shadow: 0 0 27px rgb(96, 96, 96 / 34%)
}
.home__name, .home__work, .home__list, .home__social-links {
    color: #f7f1f1;
    font-family: var(--mono-font);    
}
.home__name {
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin: 0.9em 0.23em;
}

.home__work {
    margin-bottom: 2.5em;
}
.home__list dt {
    float: left;
    font-weight: var(--bold);
    opacity: 0.5;
}

.home__list dd {
    padding-left: 6.25em;
}
.home__list dd:not(:last-child) {
    margin-bottom: 0.94em;
}

.home__socials {
    margin: 1.25rem 0 2.25rem;
}

.home__social-links {
    font-size: 1.7rem;
    line-height: 1.36rem;
    margin-right: 1.25rem;
    opacity: 0.4;
}
.home__social-links:hover {
    opacity: 1;
    color: var(--bg-color-alt);
}

/*===========Section Hello===============*/
.hello_details {
    margin-bottom: 1.67em;
    text-align: justify;
}

/*==============BUTTONS==============*/
.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.1em 2.1em;
    border-radius: 0.56rem;
    font-weight: var(--semibold);
    transition: 0.3s;
}
.button:hover {
    background-color: rgb(34, 84, 125)
}
.button flex {
    display: inline-flex;
    align-items: flex-start;
    column-gap: 0.3rem;
}

/*===========Section Services===============*/
.services__container { /* Contenedor de servicios en general*/
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
}
.services__item { /* Cada servicio */
    border: 1px solid var(--border-color);
    padding: 2.5rem 1.25rem 1.875rem;
    text-align: center;
}
.icon__box { /* Caja de iconos */
    border 1px solid var(--border-color);
    width: 82px;
    height: 82px;
    border-radius: 50%;
    margin: 0% auto;
    margin-bottom: 1.25rem;
    position: relative;
    display: flex;
}
.services__icon { /* Iconos de servicios */
    width: 32px;
    margin: auto;
}
.services__dot { /* Punto decorativo rueda */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    animation: services__dot 2s linear infinite;
    animation-play-state: paused; /* Inicia la animacion */

}
.services__item:hover .services__dot { /* Pausa la animacion al pasar el mouse por encima */
    animation-play-state: running;
}
@keyframes services__dot { /* funcion Animacion de la rueda */
    0% {
        transform: rotate(0deg); /* Rotacion inicial */
    }
    100% {
        transform: rotate(360deg); /* Rotacion final */
    }
}
.dot{ /* Punto decorativo rueda */
    width: 13px;
    height: 13px;
    background-color: var(--title-color);
    position: absolute; /* Posicion absoluta dentro de la caja del icono */
    border-radius: 50%; /* Hace que el punto sea circular */
    left: 0.9rem; /* Posicion horizontal a la izquierda */
}
.section__title { /* Titulo de seccion */
    margin-bottom: 0.9rem; /* Margen inferior */
}

/*===========Section Resume===============*/
.resume__container { /* Contenedor del resumen */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.75rem;
}
.resume__title { /* Titulo del resumen */
    color: var(--text-color-alt);
    letter-spacing: 0.4em;
    margin-bottom: 2.8em;
}
.resume__item{ /* Cada item del resumen */
    border-left: 2px solid var(--primary-color);
    padding-left: 1.6rem;
    position: relative;
}

.resume__item:not(:last-child) { /* Margen inferior excepto en el ultimo item */
    padding-bottom: 3rem;
}

.resume__item::before { /* Circulo decorativo */
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    position: absolute;
    left: -0.56rem;
    background-color: var(--bg-color);
}

.resume__subtitle { /* Subtitulo del resumen */
    color: var(--text-color-alt);
    margin-bottom: 0.36em;

}
.resume__date { /* Fecha del resumen */
    color: var(--text-color-alt);
    margin-bottom: 0.7em;
}
.resume__description { /* Descripcion del resumen */
    text-align: justify;
}

/*===========Section Skills===============*/
.skills__container { /* Contenedor de habilidades */
    grid-template-columns: repeat(2, 445px);
    column-gap: 7rem;
}

.skills__list { /* Lista de habilidades */
    row-gap: 1.8rem;
}

.skills__titles { /* Titulo de habilidades */
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}

.skills__bar, .skills__percentage { /* Barra y porcentaje de habilidades */
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar { /* Barra de habilidades (CORREGIR)*/
    background-color: var(--border-color);
    margin-bottom: 1.25rem;
}

.skills__percentage { /* Porcentaje de habilidades en barras */
    display: block;
    background: var(--primary-color);
}

/*===========Section Project===============*/

.project__categories { /* Categorias de proyectos */
    display: flex; /* Alinea los elementos en fila */
    column-gap: 3rem; /* Espacio entre categorias */
    margin-bottom: 1.875rem;
}
.category__btn { /* Boton de categoria */
    color: var(--text-color-alt);
    font-weight: var(--bold);
    font-family: var(--mono-font);
    position: relative;
}

.category__btn:hover { /* Al pasar el mouse por encima */
    color: var(--primary-color);
}

.category__btn::after { /* Linea decorativa Al pasar el mouse*/
    content: "";
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0;
    transition: 0.3s;
}
.category__btn:hover::after { /* Muestra la linea al pasar el mouse */
    opacity: 1;
}

.active-work { /* Categoria activa */
    color: var(--primary-color);
}
.active-work::after { /* Linea decorativa categoria activa */
    opacity: 1;
}

.projects__container { /* Contenedor de proyectos */
    row-gap: 2.5rem;
}
.project__item { /* Cada proyecto */
    grid-template-columns: 5fr 7fr;
}
.project__img { /* Imagen del proyecto */
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el contenedor */
}

.project__data { /* Datos del proyecto */
    padding: 3rem 3rem 2.5rem 1.875rem;
    border: 1px solid var(--border-color);
}

.project__title { /* Titulo del proyecto */
    margin-bottom: 0.8em;
    text-align: justify;
}

.project__description { /* Descripcion del proyecto */
    margin-bottom: 2.5em;
    text-align: justify;
}

.project__stack { /* Tecnologias del proyecto */
    margin-bottom: 1.25em;  
}

.tags li { /* Cada tecnologia */
    display: inline-block;
    margin-right: 0.6rem;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
}

.project__link{ /* Enlace del proyecto */
    float: right;
    margin-top: 3.9em;
    color: var(--primary-color);
    font-family: var(--mono-font);
}